.card {

}

.cardSize {
		width: 120px;
	height: 190px;
}

#hand {
position: absolute	;
bottom:70px;
}

.selected {
	border: 2px solid #A219ED;
}

.deck {

}

#endTurn {
	position: absolute;
	top:50px;
	right:200px;
	display:none;
}

.trash {
	position: absolute;
	bottom: 70px;
	right: 20px;
}