.card {

}

.yellow-border {
	border-color: yellow;
	border-style: solid;
}

.cardSize {
	width: 108px;
	height: 171px;
}	

.card-wrapper {
	position: relative;
	width: 7%;
	display: inline-block;
}

.turnInfo {
	position: absolute;
	display: none;
}

.turnInfo.numActions {
	top:5%;
}

.turnInfo.numBuys {
	top:15%;
}

.turnInfo.numTreasures {
	top:25%;
}

.quantity {
    position: absolute;
    top: 5%;
    right: 5%;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    color: white;
    background: black;
    text-align: center;
     -webkit-margin-before: 0px; 
     -webkit-margin-after: 0px;  
}

.ableToBuy {
	position: absolute;
	bottom: 5%;
	right: 5%;
	width: 20px;
	height: 20px;
	color: white;
	background-color: black;
	text-align: center;
	display: none;
}

#hand {
position: absolute	;
bottom: 5%;
left: 10%;
width: 80%;
}

#playedCards {
	position: absolute;
	top:20%;
	left:10%;
	width:50%;
}

#shopSection {
	position: relative;
    height: 325px;
    background-color: blue;
}


#playedCardsSection {
	position: relative;
	height: 250px;
	background-color: red;
}

#actionText {
	position: absolute;
	left: 50%;
	transform: translateX(-50%); 
}

#handTrashSection {
	position: relative;
	height: 200px;
	background-color: green;
}

.selected {
	border: 2px solid #A219ED;
}

.deck {
	position: absolute;
	bottom: 5%;
	left: 5%;
	transform: translateX(-50%);
}

#endTurn {
	position: absolute;
	top:50%;
	right:5%;
    transform: translate(50%,-50%);
	display:none;
}

.trash {
	position: absolute;
	bottom: 5%;
	right: 5%;
	transform: translateX(50%);
}